ol li{
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

h1, h3 {
    color: red;
}

h1 em, h2 em {
    height: 40px;
    border: 1px solid black;
}

li {
    height: 20px;
}

li em {
    font-weight: 900;
}

.linguagens li:nth-child(-n+3) {
    color: blue;
}

li.java {
    background-color: pink;
}
